In [28]:
!pip install jsonlines
import pandas as pd

Requirement already satisfied: jsonlines in c:\users\senth\anaconda3\lib\site-packages (3.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\senth\anaconda3\lib\site-packages (from jsonlines) (21.4.0)

In [29]:
with open('train.src', 'r', encoding='utf') as src_file:
    data = src_file.readlines()

In [30]:

df = pd.DataFrame(data, columns=['src_content'])

In [31]:
df.head()

                                         src_content
0  National Archives NEWLINE_CHAR  NEWLINE_CHAR Y...
1  LOS ANGELES (AP) — In her first interview sinc...
2  GAITHERSBURG, Md. (AP) — A small, private jet ...
3  Tucker Carlson Exposes His Own Sexism on Twitt...
4  A man accused of removing another man's testic...

In [32]:
with open('train.tgt', 'r', encoding='utf') as tgt_file:
    datatgt = tgt_file.readlines()

In [33]:
df1 = pd.DataFrame(datatgt, columns=['tgt_content'])

In [34]:
df1

                                             tgt_content
0      – The unemployment rate dropped to 8.2% last m...
1      – Shelly Sterling plans "eventually" to divorc...
2      – A twin-engine Embraer jet that the FAA descr...
3      – Tucker Carlson is in deep doodoo with conser...
4      – What are the three most horrifying words in ...
...                                                  ...
44967  – The deaths of three children have been linke...
44968  – Apple is hoping its new, cheaper iPhone can ...
44969  – January Jones, who plays the beleaguered wif...
44970  – A Rhode Island man who penned a letter to th...
44971  – The Guardian revisits a fascinating piece of...

[44972 rows x 1 columns]

In [44]:
df.loc[3,'src_content']

'Tucker Carlson Exposes His Own Sexism on Twitter (Updated) NEWLINE_CHAR  NEWLINE_CHAR Tucker Carlson has done some good work in the past… His site, The Daily Caller, is a frequent stop of mine and many other Conservatives. They were responsible for exposing the Journolist scandal, which highlighted the planning and coordination of many members of the left-wing press. I will always be grateful to Tucker’s team for bringing that story to light. This is also why I am so angered by Tucker’s recent actions. I thought he was better than this. NEWLINE_CHAR  NEWLINE_CHAR If you haven’t heard by now, Monday evening, Tucker Carlson posted a disturbing tweet about Governor Palin which said: NEWLINE_CHAR  NEWLINE_CHAR Palin’s popularity falling in Iowa, but maintains lead to become supreme commander of Milfistan NEWLINE_CHAR  NEWLINE_CHAR Aside from Tucker’s sheep-like response to warped poll numbers, he also failed to take ownership of his sexist comment. He deleted the original (which is why I had to link to a retweet) obviously aware that what he had posted was wrong. Unfortunately for him, many people had already seen it and responded. You can’t put the toothpaste back in the tube, Tucker. NEWLINE_CHAR  NEWLINE_CHAR Is this the sort of treatment that Conservative women, who want to get involved in the process, are expected to put up with? Is it okay for male columnists (Conservative or otherwise) to continue objectifying women in the world of politics? No it’s not! NEWLINE_CHAR  NEWLINE_CHAR The best thing Tucker Carlson could do, is admit that what he tweeted was wrong, apologize to Governor Palin, and urge his fellow colleagues to be respectful with their language and written word. What he did was demeaning and offensive, and there is no place for it in Conservative circles. NEWLINE_CHAR  NEWLINE_CHAR Update: This is a poor attempt at an apology. Tucker Carlson tries to cover his tracks this morning by repeating the same mistakes he made last night. He wrote: NEWLINE_CHAR  NEWLINE_CHAR Apparently Charlie Sheen got control of my Twitter account last night while I was at dinner. Apologies for his behavior. NEWLINE_CHAR  NEWLINE_CHAR He didn’t take responsibility for his comment and he fails horribly at humor. Try again, and Tucker… you’re not funny. NEWLINE_CHAR  NEWLINE_CHAR Update II: Almost a day later, he finally apologizes: NEWLINE_CHAR  NEWLINE_CHAR I’m sorry for last night’s tweet. I meant absolutely no offense. Not the first dumb thing I’ve said. Hopefully the last. NEWLINE_CHAR  NEWLINE_CHAR  NEWLINE_CHAR  NEWLINE_CHAR  ||||| Tweet with a location NEWLINE_CHAR  NEWLINE_CHAR You can add location information to your Tweets, such as your city or precise location, from the web and via third-party applications. You always have the option to delete your Tweet location history. Learn more ||||| I am not down with @karlrove @tuckercarlson misogynist mockery of @sarahpalinusa . Sick of it. ||||| On Monday night, while the rest of the world was watching Charlie Sheen flame out live on CNN, Tucker Carlson took to Twitter to make some impolitic statements of his own. NEWLINE_CHAR  NEWLINE_CHAR "Palin\'s popularity falling in Iowa, but maintains lead to become supreme commander of Milfistan," he wrote. NEWLINE_CHAR  NEWLINE_CHAR By the next morning, the tweet was deleted and he had apologized, writing, “Apparently Charlie Sheen got control of my Twitter account last night while I was at dinner. Apologies for his behavior.” NEWLINE_CHAR  NEWLINE_CHAR But that wasn’t enough to spare him the ire of conservative women on the blogosphere and Twitter. NEWLINE_CHAR  NEWLINE_CHAR On Tuesday, before Carlson’s first apology, Stacy Drake, writing on Conservatives4Palin, praised Carlson’s works at The Daily Caller, particularly the leaks of the Journolist emails, saying that’s why his tweet stung so badly. NEWLINE_CHAR  NEWLINE_CHAR Aside from Tucker’s sheep-like response to warped poll numbers, he also failed to take ownership of his sexist comment. He deleted the original (which is why I had to link to a retweet) obviously aware that what he had posted was wrong. Unfortunately for him, many people had already seen it and responded. You can’t put the toothpaste back in the tube, Tucker. NEWLINE_CHAR  NEWLINE_CHAR  NEWLINE_CHAR  NEWLINE_CHAR Is this the sort of treatment that Conservative women, who want to get involved in the process, are expected to put up with? Is it okay for male columnists (Conservative or otherwise) to continue objectifying women in the world of politics? No it’s not! NEWLINE_CHAR  NEWLINE_CHAR  NEWLINE_CHAR  NEWLINE_CHAR She was unimpressed with his first apology, and called for him to apologize to Palin while continuing to denounce him for sexism on her Twitter account. NEWLINE_CHAR  NEWLINE_CHAR Michelle Malkin joined the calls Tuesday, tweeting: “I am not down with @karlrove @tuckercarlson misogynist mockery of @sarahpalinusa. Sick of it.” NEWLINE_CHAR  NEWLINE_CHAR Later Tuesday, Carlson obliged: “I’m sorry for last night’s tweet. I meant absolutely no offense. Not the first dumb thing I’ve said. Hopefully the last.” NEWLINE_CHAR  NEWLINE_CHAR Some bros have come to Carlson\'s aid. Tuesday, Erick Erickson tweeted, "Maybe my sense of humor needs to be recalibrated, but when I heard @TuckerCarlson\'s MILFistan comment, I laughed then got out my passport." NEWLINE_CHAR  NEWLINE_CHAR (Needless to say, Drake was not amused.) NEWLINE_CHAR  NEWLINE_CHAR But by Wednesday, the thing had escalated into a full-blown war of the sexes within the conservative blogosphere, with Whitney Pitcher taking Carlson\'s tweet as inspiration for her post on Conservatives4Palin: "MILF–Misogynists (and Elites) I’d Like to Fulminate." NEWLINE_CHAR  NEWLINE_CHAR Perhaps an additional reason that Governor Palin does not win the respect of the Elite and Establishment is that you cannot be praised for your “perfectly creased pants” if you often wear a skirt, right David Brooks? The continued line of attack from the Establishment and Elite men in the GOP have come as a result of Governor Palin’s genetic makeup. NEWLINE_CHAR  NEWLINE_CHAR This post has been updated to correct the spelling of Stacy Drake\'s first name. |||||\n'

In [45]:
df1.loc[3,'tgt_content']

'– Tucker Carlson is in deep doodoo with conservative women after an ill-advised tweet referencing Sarah Palin that he posted, then removed, Monday night. "Palin\'s popularity falling in Iowa, but maintains lead to become supreme commander of Milfistan," he tweeted—and we probably don\'t need to tell you where that is. His first attempt at an apology, which he tweeted the next morning: "Apparently Charlie Sheen got control of my Twitter account last night while I was at dinner. Apologies for his behavior.” That wasn\'t good enough for many conservative women, Politico notes, rounding up reactions from bloggers to Michelle Malkin calling his behavior sexist and misogynistic. By late Tuesday, Carlson had offered up a more sincere-sounding apology: “I’m sorry for last night’s tweet. I meant absolutely no offense. Not the first dumb thing I’ve said. Hopefully the last.” But at least one man—Erick Erickson, editor of RedState.com—was on Carlson\'s side, tweeting his reaction to the post in question: "I laughed then got out my passport."\n'

In [56]:
df

                                             src_content
0      National Archives NEWLINE_CHAR  NEWLINE_CHAR Y...
1      LOS ANGELES (AP) — In her first interview sinc...
2      GAITHERSBURG, Md. (AP) — A small, private jet ...
3      Tucker Carlson Exposes His Own Sexism on Twitt...
4      A man accused of removing another man's testic...
...                                                  ...
44967  More than 670,000 copies of the Pearls’ self-p...
44968  Seeking out cost-conscious consumers who have ...
44969  Click to email this to a friend (Opens in new ...
44970  BARRINGTON, R.I. (AP) — Women clad in yoga pan...
44971  Based on a ‘real’ story, the hit John Travolta...

[44972 rows x 1 columns]

In [55]:
df1

                                             tgt_content
0      – The unemployment rate dropped to 8.2% last m...
1      – Shelly Sterling plans "eventually" to divorc...
2      – A twin-engine Embraer jet that the FAA descr...
3      – Tucker Carlson is in deep doodoo with conser...
4      – What are the three most horrifying words in ...
...                                                  ...
44967  – The deaths of three children have been linke...
44968  – Apple is hoping its new, cheaper iPhone can ...
44969  – January Jones, who plays the beleaguered wif...
44970  – A Rhode Island man who penned a letter to th...
44971  – The Guardian revisits a fascinating piece of...

[44972 rows x 1 columns]

In [62]:
# Combine summaries and sources into a single DataFrame
combined_df = pd.concat([df, df1], axis=1)

In [63]:
combined_df

,src_content,dummy_column,tgt_content,dummy_column
0,National Archives NEWLINE_CHAR NEWLINE_CHAR Y...,1.0,– The unemployment rate dropped to 8.2% last m...,1.0
1,LOS ANGELES (AP) — In her first interview sinc...,1.0,"– Shelly Sterling plans ""eventually"" to divorc...",1.0
2,"GAITHERSBURG, Md. (AP) — A small, private jet ...",1.0,– A twin-engine Embraer jet that the FAA descr...,1.0
3,Tucker Carlson Exposes His Own Sexism on Twitt...,1.0,– Tucker Carlson is in deep doodoo with conser...,1.0
4,A man accused of removing another man's testic...,1.0,– What are the three most horrifying words in ...,1.0
...,...,...,...,...
44967,"More than 670,000 copies of the Pearls’ self-p...",1.0,– The deaths of three children have been linke...,1.0
44968,Seeking out cost-conscious consumers who have ...,1.0,"– Apple is hoping its new, cheaper iPhone can ...",1.0
44969,Click to email this to a friend (Opens in new ...,1.0,"– January Jones, who plays the beleaguered wif...",1.0
44970,"BARRINGTON, R.I. (AP) — Women clad in yoga pan...",1.0,– A Rhode Island man who penned a letter to th...,1.0
44971,"Based on a ‘real’ story, the hit John Travolta...",1.0,– The Guardian revisits a fascinating piece of...,1.0

In [69]:
combined_df.drop('dummy_column',axis= 'columns')

,src_content,tgt_content
0,National Archives NEWLINE_CHAR NEWLINE_CHAR Y...,– The unemployment rate dropped to 8.2% last m...
1,LOS ANGELES (AP) — In her first interview sinc...,"– Shelly Sterling plans ""eventually"" to divorc..."
2,"GAITHERSBURG, Md. (AP) — A small, private jet ...",– A twin-engine Embraer jet that the FAA descr...
3,Tucker Carlson Exposes His Own Sexism on Twitt...,– Tucker Carlson is in deep doodoo with conser...
4,A man accused of removing another man's testic...,– What are the three most horrifying words in ...
...,...,...
44967,"More than 670,000 copies of the Pearls’ self-p...",– The deaths of three children have been linke...
44968,Seeking out cost-conscious consumers who have ...,"– Apple is hoping its new, cheaper iPhone can ..."
44969,Click to email this to a friend (Opens in new ...,"– January Jones, who plays the beleaguered wif..."
44970,"BARRINGTON, R.I. (AP) — Women clad in yoga pan...",– A Rhode Island man who penned a letter to th...
44971,"Based on a ‘real’ story, the hit John Travolta...",– The Guardian revisits a fascinating piece of...

In [70]:
combined_df.to_csv('train.csv', index=False)